.nav__menu {
  background-color: lawngreen;
  width: 250px;
  height: 100vh;
  position: fixed;
  left: -100%;
  transition: 900ms;
}
.active {
  left: 0;
  transition: 500ms;
}

.slider__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
