.slider__show {
  background-color: rgb(226, 100, 100);
  width: 100%;
  height: 100vh;
  z-index: 100;
  width: 200px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
}
.slider__hide {
  height: 0;
  overflow: hidden;
}

.slider__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
